<h1>New Thrift Requested</h1>
<p><strong>Store:</strong> <%= @form_data[:store] %></p>
<p><strong>Address:</strong> <%= @form_data[:address] %></p>
<p><strong>City:</strong> <%= @form_data[:city] %></p>
<p><strong>State:</strong> <%= @form_data[:state] %></p>
<p><strong>Comments:</strong> <%= @form_data[:comments] %></p>
